<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="https://raw.githubusercontent.com/Raxmice/to-do-list/3db1e0c407eef4f5b79873536bbe298601a17122/public/img/list.svg" type="image/gif" sizes="16x16">
        <title>To do List</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
